name: lint

on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
      - labeled
    branches:
      - main

# Cancel any previous runs of this workflow for the same PR.
concurrency:
  group: lint-${{ github.event.pull_request.number }}
  cancel-in-progress: true

jobs:
  lint-doc:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ready')

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
          dune-cache: true
          cache-prefix: v1
      - name: Install dependencies
        run: opam install -y odoc
      - uses: ocaml/setup-ocaml/lint-doc@v3

  lint-fmt:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ready')

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
          dune-cache: true
          cache-prefix: v1
      - name: Install dependencies
        run: opam install -y ocamlformat
      - uses: ocaml/setup-ocaml/lint-fmt@v3

  lint-opam:
    runs-on: ubuntu-latest
    if: contains(github.event.pull_request.labels.*.name, 'ready')

    steps:
      - name: Checkout tree
        uses: actions/checkout@v6
      - name: Set-up OCaml
        uses: ocaml/setup-ocaml@v3
        with:
          ocaml-compiler: 5.3.0
          dune-cache: true
          cache-prefix: v1
      - name: Install dependencies
        run: opam install -y opam-dune-lint
      - uses: ocaml/setup-ocaml/lint-opam@v3
